body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font-size: 14px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

   width: 290px;
   height: 25px;
}

button {
  font-size: 14px;

  width: 200px;
  height: 30px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

p {
  color: #909090;
}

p.header {
  color: #FFFFFF;
}

.input-section {

  justify-content: center;
  display: flex;
  align-items: center;
}

.header-images {  
  position: relative;
  /*display: inline;*/
  margin: 0 auto;
   width: 50%; 
}

.hero-image {
  width: 100%;
  /*height: 25%;*/
  
}

.nft-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width:40%;
}

.loading-spinner {
  width: 25px;
}

.center-div {
     /*padding: 30px;*/
}