body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputFields {
  width:50%;
  display:inline-block;
}

.heroImage {
 width: 50%; 
 display:inline-block;
}

.heroImage img {
  width: 100%;
  height: auto;
}

.loading-spinner {
  width: 25px;
}

p {
	color: #909090;
}

p.header {
	color: #FFFFFF;
}